<nav>
<a {{if isset($nav) && $nav == 1}}class="on"{{/if}} href="/index"><i class="icon iconfont">&#xe736;</i><p>进入商城</p></a>
<a {{if isset($nav) && $nav == 2}}class="on"{{/if}} href="/mall/news/index"><i class="icon iconfont">&#xe616;</i><p>新闻资讯</p></a>
<a {{if isset($nav) && $nav == 3}}class="on"{{/if}} href="/mall/order/index"><i class="icon iconfont">&#xe737;</i><p>我的订单</p></a>
<a {{if isset($nav) && $nav == 4}}class="on"{{/if}} href="/member/member/index"><i class="icon iconfont">&#xe75e;</i><p>会员中心</p></a>

</nav>