{{include file="common/header.html"}}
<style>
    .hide{display: none;}
    .panel-body > p > b{width:100px; display: inline-block;border-right: dashed 1px #d5d5d5;margin-right:2%;}
    .panel-body > p{padding-bottom: 15px;border-bottom: dashed 1px #c5c5c5;}
    .panel_header{background: #999;width: 100%;padding:5px 0px 5px 20px; font-size:16px;margin-bottom:10px;color:#fff;}
    .table > thead > tr > th{border:none;}
    .clearafter:after{ clear:both; content:"."; height:0px; font-size:0px; visibility:hidden; display:block; }
    .order_content li{width: 48%; float: left;padding:10px;border-bottom: dashed 1px #c5c5c5;}
    .order_content li > b{width:100px; display: inline-block;margin-right:2%;}
</style>
<div class="main">
    {{include file="common/menu.html"}}
    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="/order/index/">订单列表 </a></li>
            <li class="active">{{$breadTitle}}</li>
        </ol>
        <div class="right_con form-horizontal">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-success">
                        <!-- Default panel contents -->
                        <div class="panel-heading">购买人信息</div>
                        <div class="panel-body">
                            <div class="panel_header" >订单信息</div>
                            <ul class="order_content clearafter">
                            <li><b>订单ID:</b>&nbsp;&nbsp;{{$data.o_id}}</li>
                            <li><b>订单编号:</b>&nbsp;&nbsp;{{$data.o_order_no}}</li>
                            <li><b>用户ID:</b>&nbsp;&nbsp;{{$data.m_id}}</li>
                            <li><b>商品名称:</b>&nbsp;&nbsp;{{$data.p_title}}</li>
                            <li><b>套餐名称:</b>&nbsp;&nbsp;{{$data.pp_title}}</li>
                            <li><b>商品单价:</b>&nbsp;&nbsp;{{$data.p_price}}</li>
                            <li><b>购买数量:</b>&nbsp;&nbsp;{{$data.o_number}}</li>
                            <li><b>订单总额:</b>&nbsp;&nbsp;{{$data.o_order_amount}}</li>
                            <li><b>实付金额:</b>&nbsp;&nbsp;{{$data.o_payment_amount}}</li>
                            <li><b>分成金额:</b>&nbsp;&nbsp;{{$data.o_award_amount}}</li>
                            <li><b>支付状态:</b>&nbsp;&nbsp;
                                {{if $data.o_pay_status==1}}<span class="label label-danger">未支付</span>{{else if $data.o_pay_status==2}}<span class="label label-danger">取消订单</span>{{else if $data.o_pay_status==3}}<span class="label label-success">已支付</span>{{/if}}
                            </li>
                            <li><b>订单状态:</b>&nbsp;&nbsp;
                                {{if $data.o_order_status==1}}<span class="label label-danger">未发货</span>{{else if $data.o_order_status==2}}<span class="label label-danger">已发货</span>{{else if $data.o_order_status==3}}<span class="label label-success">确认收货</span>{{/if}}
                            </li>
                            <li><b>订单添加时间:</b>&nbsp;&nbsp;{{$data.o_addtime}}</li>
                            <li><b>订单更新时间:</b>&nbsp;&nbsp;{{$data.o_updatetime}}</li>
                                </ul>
                            <div class="panel_header" style="">快递信息</div>
                            <ul class="order_content clearafter">
                            <li><b>快递公司:</b>&nbsp;&nbsp;{{$data.o_express_company}}</li>
                            <li><b>快递单号:</b>&nbsp;&nbsp;{{$data.o_express_number}}</li>
                            <li><b>客户留言:</b>&nbsp;&nbsp;{{$data.o_memo}}</li>
                            {{if $data.o_close_remark}}<p><b>关闭订单备注:</b>&nbsp;&nbsp;{{$data.o_close_remark}}</p>{{/if}}
                                </ul>
                            {{if $address}}
                            <div class="panel_header" style="">发货地址信息</div>
                            <ul class="order_content clearafter">
                            <li><b>联系人:</b>&nbsp;&nbsp;{{$address.a_realname}}</li>
                                <li><b>联系电话:</b>&nbsp;&nbsp;{{$address.a_phone}}</li>
                            <li><b>微信号:</b>&nbsp;&nbsp;{{$address.a_wechat_id}}</li>
                            <li><b>地址:</b>&nbsp;&nbsp;{{$address.a_province}}-{{$address.a_city}}-{{$address.a_area}}&nbsp;&nbsp;{{$address.a_address}}</li>
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <!--{{if $profileData}}-->
                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading">套餐列表</div>-->
                        <!--<div class="table-responsive" >-->
                            <!--<table class="table">-->
                                <!--<thead style="border-bottom: solid 2px #3279bb;">-->
                                <!--<tr>-->
                                    <!--<th>套餐名称</th>-->
                                    <!--<th>套餐类型</th>-->
                                    <!--<th>销量</th>-->
                                    <!--<th>库存</th>-->
                                    <!--<th>成本</th>-->
                                    <!--<th>原价</th>-->
                                    <!--<th>活动价</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--{{foreach from=$profileData item=v}}-->
                                <!--<tr>-->
                                    <!--<td>{{$v.pp_name}}</td>-->
                                    <!--<td>{{$v.pt_name}}</td>-->
                                    <!--<td>{{$v.pp_sales}}</td>-->
                                    <!--<td>{{$v.pp_stock}}</td>-->
                                    <!--<td>{{$v.pp_cost}}</td>-->
                                    <!--<td>{{$v.pp_original_price}}</td>-->
                                    <!--<td>{{$v.pp_event_price}}</td>-->
                                <!--</tr>-->
                                <!--{{/foreach}}-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--{{/if}}-->
                    {{if $progressData}}
                    <div class="panel panel-danger">
                        <!-- Default panel contents -->
                        <div class="panel-heading">订单进度</div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead style="border-bottom: solid 2px #c33;">
                                    <tr>
                                        <th>时间</th>
                                        <th>信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{foreach from=$progressData item=v}}
                                    <tr>
                                        <td>{{$v.op_addtime}}</td>
                                        <td>{{$v.op_memo}}</td>
                                    </tr>
                                    {{/foreach}}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    {{/if}}
                    {{if $data.o_express_number}}
                    <!--快递跟踪-->
                    <div class="panel panel-info" style="position:relative ">
                        <!-- Default panel contents -->
                        <div class="panel-heading">快递跟踪</div>
                        <div id="expres_load"></div>

                        <!--快递load--->
                        <div id="loadgif" style="width:100%; text-align: center;">
                            　　<img src="{{$smarty.const.IMAGE_URL}}/public/images/load.gif" style="">
                        </div>
                    </div>
                    {{/if}}

                </div>
            </div>

            <div class="clear10"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    //查订单
    var number = '{{$data.o_express_number}}';
    $("#loadgif").show();
    if(number){
        $.ajax({
            type: 'GET',
            url : "/order/getAjaxExpress/number/" + number,
            dataType: 'html',
            success: function(data){
                if(data) {
                    $("#loadgif").hide();
                    //赋值数据
                    $("#expres_load").append(data);
                } else {
                    $('#expres_load').hide();
                }

            },
        });
    }
</script>
{{include file="common/footer.html"}}

