<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="/public/css/dropload.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
</head>
<style>
    .end                 { display: none; position: absolute; top: 61.5vw; left: 25vw;}
    .express_name a{ background: #fd7632;color:#fff; padding: 3px 8px; display: inline-block;border-radius: 5px;}
    .orders-list ul li{
        cursor:pointer
    }
</style>

<body style="background:#f0f0f0;">
{{include file="application/views/common/footer.html"}}

<div class="orders-header">
    <i class="icon iconfont">&#xe737;</i>我的订单
</div>

<div class="orders-list" id="list">
    <ul id="orderList">
        {{if $allData}}
            {{foreach from=$allData item=vo}}
                <li id="li_{{$vo.o_order_no}}">
                    订单编号:{{$vo.o_order_no}}<i class="icon iconfont">&#xe772;</i>
                    <div class="con">
                        <div class="hang"><strong>订单金额：</strong>{{$vo.o_payment_amount}}元</div>
                        <div class="hang"><strong>订单时间：</strong>{{$vo.o_addtime}}</div>
                        <div class="hang"><strong>支付状态：</strong>{{$payStatus[$vo.o_pay_status]}}</div>
                        <div class="hang"><strong>订单状态：</strong>{{$orderStatus[$vo.o_order_status]}}</div>
                        <div class="hang"><strong>商品名称：</strong>{{$vo.p_title}}</div>
                        <div class="hang"><strong>订单详情：</strong>{{$vo.pp_title}}</div>
                        <!--{{if $vo.pp_title}}<p><strong>订单详情：</strong>{{$vo.pp_title}}</p>{{/if}}-->
                        {{if $vo.o_pay_status == 3}}
                        <div class="hang"><strong>快递公司：</strong>{{$vo.o_express_company}}</div>
                        <div class="hang"><strong>快递单号：</strong>{{$vo.o_express_number}}</div>
                        {{/if}}
                        {{if $vo.o_express_number}}
                        <p class="express_name"><a href="/mall/order/express?id={{$vo.o_id}}">查看物流信息</a></p>
                        {{/if}}
                        {{if $vo.o_pay_status == 1}}
                        <div class="hang"><strong>剩余支付时间：</strong><div class="yomibox" data="{{$vo.leftTime}}"></div><span class="end">已过期</span></div>
                        {{/if}}
                        <div class="btn" id="{{$vo.o_order_no}}">
                            {{if $vo.o_pay_status == 1 && $vo.leftTime > 0}}
                            <input name="" type="button" value="立即支付" id="repayBtn" orderID="{{$vo.o_order_no}}">
                            <input name="" type="button" value="取消订单" id="cancelBtn" orderID="{{$vo.o_order_no}}">
                            {{/if}}
                            {{if $vo.o_pay_status == 3 && $vo.o_order_status != 3}}
                            <input name="" type="button" value="确认收货" id="confirmBtn" orderID="{{$vo.o_order_no}}">
                            {{/if}}
                        </div>
                    </div>
                </li>
            {{/foreach}}
        {{/if}}

    </ul>
    <!--<p class="down">下拉加载更多...</p>-->
</div>

<script src="/public/js/jquery-2.1.4.js"></script>
<script src="/public/js/dropload.js"></script>
<script src="/public/js/weui/jquery-weui.js"></script>
<script src="/public/js/countdown/jquery.countdown.js"></script>
<script>
    $(document).ready(function(){
        $(document).on('click', '#repayBtn', function(){
            var orderID = $(this).attr('orderID');
            $.post('/ajax/order/repay', {orderNo : orderID}, function(data){
                if(data.status == 'y'){
                    location.href = '/payment/order/orderNo/' + orderID;
                }else{
                    $.alert(data.info);
                }
            }, 'json')
        });

        $(document).on('click', '#cancelBtn', function(){
            var orderID = $(this).attr('orderID');
            $.post('/ajax/order/cancel', {orderNo : orderID}, function(data){
                if(data.status == 'y'){
                    $.alert(data.info);
                    $('#li_' + orderID).remove();
                }else{
                    $.alert(data.info);
                }
            }, 'json')
        });

        $(document).on('click', '#confirmBtn', function(){
            var orderID = $(this).attr('orderID');
            $.post('/ajax/order/confirm', {orderNo : orderID}, function(data){
                if(data.status == 'y'){
                    $.alert(data.info);
                    $('#' + orderID).hide();
                }else{
                    $.alert(data.info);
                }
            }, 'json')
        });

        $(document).on('click', '.orders-list ul li', function(){
            if( $(this).hasClass("on"))
            {
                $(this).removeClass("on")
            }

            else
            {
                $(this).addClass("on")
            }
        });

        var page = 2;
        var total = parseInt('{{$total}}');
        var pageSize = parseInt('{{$pageSize}}');
        if(total >= pageSize) {
            $("#list").dropload({
                domDown : {                                                          // 下方DOM
                    domClass   : 'dropload-down',
                    domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                    domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
                    domNoData  : '<div class="dropload-noData">没有啦╮(╯_╰)╭</div>'
                },
                scrollArea : window,
                loadDownFn : function(me){
                    $.ajax({
                        type: 'GET',
                        url : "/mall/order/index/page/" + page  + '/?type=load',
                        dataType: 'html',
                        success: function(data){
                            if(data) {
                                //赋值数据
                                $("#orderList").append(data);
                                page++;
                            } else {
                                // 锁定
                                me.lock();
                                // 无数据
                                me.noData();
                                $('.dropload-noData').hide();
                                $('.dropload-refresh').hide();
                            }
                            // 每次数据加载完，必须重置
                            me.resetload();
                        },
                        error: function(xhr, type){
                            // 即使加载出错，也得重置
                            me.resetload();
                        }
                    });
                }
            });
        }
    });
</script>
</body>
</html>
