{{include file="common/header.html"}}

<div class="main">
    {{include file="common/menu.html"}}

    <div id="right">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);">微信管理 </a></li>
            <li class="active">微信公招管理管理</li>
        </ol>

        <div class="right_con">
            <div class="tabbable" >
                <ul class="nav nav-tabs">
                    {{foreach from=$typeList key=key item=vo}}
                    <li class="active"><a href="javascript:void(0);" >{{$vo}}</a></li>
                    {{/foreach}}
                </ul>
                <div class="tab-content">
                    <form class="form-horizontal" id="form-save" action="/weichatsub/save/">
                        <div class="tab-pane active" id="basic_right" style="padding-top: 50px;">
                            <input type="hidden" name="id" value="{{$data.wc_id}}" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信appid</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="wc_appid" value="{{$data.wc_appid}}" placeholder="微信appid" datatype="*" nullmsg="请填写微信appid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信appsecret</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="wc_appsecret" value="{{$data.wc_appsecret}}" placeholder="微信appsecret" datatype="*" nullmsg="请填写微信appsecret"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信token</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="wc_apptoken" value="{{$data.wc_apptoken}}" placeholder="微信token" datatype="*" nullmsg="微信token"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户ID</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="wc_mch_id" value="{{$data.wc_mch_id}}" placeholder="商户ID" datatype="*" nullmsg="请填写支付密钥"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户支付密钥</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="wc_pay_key" value="{{$data.wc_pay_key}}" placeholder="商户支付密钥" datatype="*" nullmsg="请填写商户支付密钥"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">sslcert证书路径</label>
                                <div class="col-sm-4 ">
                                    <input type="file" name="upload" id="upload" onchange="return ajaxFileUpload();" />
                                    {{if $data.wc_sslcert_path}}
                                    <div style="padding-top:10px;" id="ssl_cert">{{$data.wc_sslcert_path}}</div>
                                    <input type="hidden" name="wc_sslcert_path" id="file"  value="{{$data.wc_sslcert_path}}"/>
                                    {{else}}
                                    <input type="hidden" name="wc_sslcert_path" id="file"  />
                                    <div style="padding-top:10px;" id="ssl_cert"></div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">sslkey证书路径</label>
                                <div class="col-sm-4 ">
                                    <input type="file" name="upload2" id="upload2" onchange="return ajaxFileUpload2();" />
                                    {{if $data.wc_sslkey_path}}
                                    <div style="padding-top:10px;" id="ssl_key">{{$data.wc_sslkey_path}}</div>
                                    <input type="hidden" name="wc_sslkey_path" id="file2"  value="{{$data.wc_sslkey_path}}" />
                                    {{else}}
                                    <input type="hidden" name="wc_sslkey_path" id="file2" />
                                    <div style="padding-top:10px;" id="ssl_key"></div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="/public/js/jquery.ajaxfileupload.js"></script>
<script src="/public/js/bootstrap-customfile.js"></script>
<script src="/public/js/bootstrap-datetimepicker.js"></script>
<script>
    $("#form-save").Validform({
        ajaxPost: true,
        tipSweep: true,
        tiptype:function(msg,o,cssctl){
            if(o.type == 3)
                $.dialog.tips(msg);
        },
        beforeSubmit:function(curform){
        },
        callback:function(response){
            $.dialog.tips(response.info);
            if ( response.status == 'y' ) {
                window.setTimeout(function(){
                    location.reload();
                }, 2000)
            }
        }
    });

    /*初始化上传文件*/
    $("#upload").customFileInput();
    var processing = false;
    function ajaxFileUpload() {
        if ( processing == true ) {
            return false;
        }

        var dialog     = $.dialog.loading('上传中，请稍等！').show();
        processing = true;
        $.ajaxFileUpload({
            url:'/weichatsub/upload/',
            secureuri:false,
            fileElementId:'upload',
            dataType: 'json',
            success: function (data, status){
                setTimeout( function() {
                    processing = false;
                }, 500);
                dialog.close();

                if ( data.status == 'y' ) {
                    $("#ssl_cert").html(data.info.path);
                    $('#file').val(data.info.path);
                    return;
                }

                $.dialog.error(data.info);
                return false;
            },
            error: function (data, status, e){
                $.dialog.error(e);
            }
        });
    }

    $("#upload2").customFileInput();

    var processing = false;
    function ajaxFileUpload2() {
        if ( processing == true ) {
            return false;
        }

        var dialog = $.dialog.loading('上传中，请稍等！').show();
        processing = true;
        $.ajaxFileUpload({
            url:'/weichatsub/upload2/',
            secureuri:false,
            fileElementId:'upload2',
            dataType: 'json',
            success: function (data, status){
                setTimeout( function() {
                    processing = false;
                }, 500);
                dialog.close();

                if ( data.status == 'y' ) {
                    $("#ssl_key").html(data.info.path);
                    $('#file2').val(data.info.path);
                    return;
                }else{
                    alert(data.info.msg);
                }

                return false;
            },
            error: function (data, status, e){
                $.dialog.error(e);
            }
        });
    }

</script>
{{include file="common/footer.html"}}